# variables d'environnement
.env

# dépendances
node_modules/

# firebase
serviceAccountKey.json
*.log

# cursor
.cursorignore

# dependencies
node_modules/

# vscode
.vscode/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Firebase secrets
google-services.json
GoogleService-Info.plist

# Android
android/

# iOS
ios/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example